<!DOCTYPE html>
<html>
<head>
  <title>Confession Submission</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Confession Submission</h1>
  </header>
  <form id="confessionForm" action="/submit" method="POST">
    <textarea name="confessionText" rows="4" cols="50" placeholder="Write your confession here"></textarea>
    <br>
    <button type="submit">Submit Confession</button>
  </form>
  <a href="/confessions" class="link-to-confessions">View Confessions</a>
  
</body>
</html>